// =============================================================================
// Typography Settings
// =============================================================================

a {
    color: $color-secondary;
    text-decoration: none;
}

p {
    line-height: 1.5;
}