// =============================================================================
// Breakpoint Settings
// =============================================================================

$breakpoints: (
  xsmall: 0,
	small: 576px, 
	medium: 768px, 
  large: 960px, 
  xlarge: 1200px
) !default;