// =============================================================================
// Color Settings
// =============================================================================

$white: white;

$color-primary: #202A37;
$color-secondary: #F17B22;
